<template>
	<div>
		<v-form ref="form">
			<v-text-field
				v-model="user.userName"
				:counter="10"
				label="username"
				required
			></v-text-field>

			<v-text-field
				v-model="user.firstName"
				label="firstname"
				required
			></v-text-field>

			<v-text-field
				v-model="user.lastName"
				label="lastname"
				required
			></v-text-field>

			<v-text-field
				v-model="user.password"
				label="password"
				required
			></v-text-field>

			<v-select
				v-model="user.role"
				:items="roles"
				label="role"
				required
			></v-select>

			<v-checkbox v-model="user.active" label="active" required></v-checkbox>

			<v-btn color="success" @click="submit"> Submit </v-btn>
		</v-form>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				user: {
					userName: "",
					firstName: "",
					lastName: "",
					password: "",
					active: false,
					role: "",
				},
				userInitialData: {
					userName: "",
					firstName: "",
					lastName: "",
					password: "",
					active: false,
					role: "",
				},
				roles: ["customer", "admin"],
			};
		},
		methods: {
			async submit() {
				try {
					const response = await this.$axios.$post("/user", {
						data: this.user,
					});
					console.log(response);
					this.user = { ...this.userInitialData };
				} catch (error) {
					console.log(error);
				}
			},
		},
	};
</script>

<style lang="scss" scoped>
</style>